/* src/components/Sidebar.css */

/* 사이드바 스타일 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* 원하는 너비로 조정 */
  height: 100vh;
  background-color: #fff; /* 배경색 설정 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 51; /* 다른 요소보다 위에 표시 */
  padding-top: 60px; /* 필요에 따라 조정 */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  text-align: center;
}

.sidebar li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.sidebar li a:hover {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-content {
    margin-left: 0;
  }
}

/* 사이드바 토글 버튼 스타일 */
.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1100;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-toggle:hover {
  color: #007bff;
}
