button {
  transition: all 0.3s ease;
}
button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(79, 70, 229, 0.5);
}
button:hover {
  border-color: black;
  border-radius: 1px;
}
.keyword {
  color: #d73a49;
  font-weight: bold;
}

.function-name {
  color: #6f42c1;
}

.variable {
  color: #005cc5;
}

.string {
  color: #032f62;
}
